<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="学生成绩管理.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="生产信息管理.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.diagnostics>
        <sources>
            <!-- 本节定义 My.Application.Log 的登录配置-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消注释以下一节可写入应用程序事件日志-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消注释以下一节并用应用程序名替换 APPLICATION_NAME 可写入应用程序事件日志-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <学生成绩管理.My.MySettings>
            <setting name="setting" serializeAs="String">
                <value>徐敏|Yo9107132|学生成绩管理|.</value>
            </setting>
            <setting name="TT" serializeAs="String">
                <value>declare @tablename varchar(255), @execstr varchar(400),
@indexid int,@objectid int,@frag decimal
declare tables cursor for
select table_schema+'.'+table_name
from information_schema.tables
where table_type = 'base table'
create table #fraglist(objectname char(255),
objectid int,indexname char(255),indexid int,
lvl int,countpages int,countrows int,extents int,
minrecsize int,maxrecsize int,avgrecsize int,
forreccount int,extentswitches int,avgfreebytes int,
extentfrag decimal,avgpagedensity int,scandensity decimal,
bestcount int,actualcount int,logicalfrag decimal)
open tables
fetch next from tables into @tablename;
while @@fetch_status = 0
begin
insert into #fraglist
exec('dbcc showcontig ('''+@tablename+''')
with fast, tableresults, all_indexes, no_infomsgs')
fetch next from tables into @tablename
end
close tables
deallocate tables
declare indexes cursor for
select objectname, objectid,indexid,logicalfrag from #fraglist
where indexproperty (objectid,indexname,'indexdepth') &gt; 0
open indexes
fetch next from indexes into @tablename, @objectid, @indexid, @frag
while @@fetch_status = 0
begin
print 'executing dbcc indexdefrag (0,'+rtrim(@tablename)+','+
rtrim(@indexid)+')-fragmentation currently'
+rtrim(convert(varchar(15),@frag))+'%'
select @execstr='dbcc indexdefrag(0,'+rtrim(@objectid)+',
'+rtrim(@indexid)+')'
exec (@execstr)
fetch next from indexes into @tablename,@objectid,@indexid,@frag
end
close indexes
deallocate indexes</value>
            </setting>
            <setting name="MR" serializeAs="String">
                <value>declare @t table(a char(8),b numeric(4,1),c nchar(2),d char(6))</value>
            </setting>
            <setting name="MS" serializeAs="String">
                <value>declare @t table(a smallint,b tinyint,c nchar(2),d nvarchar(5))</value>
            </setting>
            <setting name="MT" serializeAs="String">
                <value>declare @t table(学生学号 char(8),学生姓名 nvarchar(3),入学年份 smallint,学生班级 tinyint,学生性别 nchar(1),学生父亲 nvarchar(3) ,父亲电话 char(11),学生母亲 nvarchar(3),母亲电话 char(11),学生备注 nvarchar(max))</value>
            </setting>
        </学生成绩管理.My.MySettings>
        <生产信息管理.My.MySettings>
            <setting name="setting" serializeAs="String">
                <value>徐敏|Yo9107132|报表|XUMIN-PC|闭环</value>
            </setting>
            <setting name="T49T" serializeAs="String">
                <value>declare @tablename varchar(255), @execstr varchar(400),
@indexid int,@objectid int,@frag decimal
declare tables cursor for
select table_schema+'.'+table_name
from information_schema.tables
where table_type = 'base table'
create table #fraglist(objectname char(255),
objectid int,indexname char(255),indexid int,
lvl int,countpages int,countrows int,extents int,
minrecsize int,maxrecsize int,avgrecsize int,
forreccount int,extentswitches int,avgfreebytes int,
extentfrag decimal,avgpagedensity int,scandensity decimal,
bestcount int,actualcount int,logicalfrag decimal)
open tables
fetch next from tables into @tablename;
while @@fetch_status = 0
begin
insert into #fraglist
exec('dbcc showcontig ('''+@tablename+''')
with fast, tableresults, all_indexes, no_infomsgs')
fetch next from tables into @tablename
end
close tables
deallocate tables
declare indexes cursor for
select objectname, objectid,indexid,logicalfrag from #fraglist
where indexproperty (objectid,indexname,'indexdepth') &gt; 0
open indexes
fetch next from indexes into @tablename, @objectid, @indexid, @frag
while @@fetch_status = 0
begin
print 'executing dbcc indexdefrag (0,'+rtrim(@tablename)+','+
rtrim(@indexid)+')-fragmentation currently'
+rtrim(convert(varchar(15),@frag))+'%'
select @execstr='dbcc indexdefrag(0,'+rtrim(@objectid)+',
'+rtrim(@indexid)+')'
exec (@execstr)
fetch next from indexes into @tablename,@objectid,@indexid,@frag
end
close indexes
deallocate indexes</value>
            </setting>
            <setting name="MR" serializeAs="String">
                <value>declare @t table(a smalldatetime,b varchar(30) COLLATE Chinese_PRC_CS_AS,c nvarchar(15),d numeric(12,3),e numeric(5,2),f nvarchar(3),g nvarchar(2),h nvarchar(10),i nvarchar(2))</value>
            </setting>
            <setting name="TR" serializeAs="String">
                <value>declare @t table(a smalldatetime,b nvarchar(10),c numeric(7,3))</value>
            </setting>
        </生产信息管理.My.MySettings>
    </applicationSettings>
</configuration>
